<% include ./partials/layout/header.ejs %>

  <div class="siteContent fluid">
    <div class="container-fluid">
      <section id="content"><%- content %></section>
    </div>
  </div>

<% include ./partials/layout/footer.ejs %>
