<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joblahoma</title>
  <!-- Scripts and styles here -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header pull-left">
        <a href="/" target="_top" class="navbar-brand">Joblahoma</a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="/jobs/create">Post a Job</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="siteContent">
    <div class="container">
      <section id="content"><%- content %></section>
    </div>
  </div>

  <footer id="siteFooter">
    <div class="container">
      <p>&copy; Techlahoma Foundation</p>
    </div>
  </footer>

  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
