body {
  background: #F8F8F8;
}

.siteContent {
  background: #fff;
  padding: 80px;
}
.siteContent.fluid {
  padding: 80px 0 20px 0;
}

#content {

}

#siteFooter {
  padding: 20px 40px;
  background: #F8F8F8;
  border-top: 3px solid #E7E7E7;
}

/**
 * Job form
 */
.job-form {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}
.job-form textarea {
  min-height: 12em;
}
.field-error-message {
  display: block;
  float: right;
  background-color: red;
  color: white;
  padding: 3px 6px;
}
