body {
  background: #F8F8F8;
}

.siteContent {
  background: #fff;
  padding: 80px;
}
.siteContent.fluid {
  padding: 80px 0 20px 0;
}

#content {

}

#siteFooter {
  padding: 20px 40px;
  background: #F8F8F8;
  border-top: 3px solid #E7E7E7;
}

/**
 * Job form
 */
.job-form {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 20px;
}
.job-form textarea {
  min-height: 12em;
}
.field-error-message {
  display: block;
  float: right;
  background-color: red;
  color: white;
  padding: 3px 6px;
}

/**
 * Job listings page
 */
.job-list h1 {
  margin-bottom: 1em;
}
.job-list .panel {
  font-size: 1.2em;
}
.job-list .label {
  margin-left: 1em;
  font-size: 1em;
}
.job-list .job-company {
  font-weight: bold;
  margin-right: 1em;
}

/**
 * Job detial page
 */
.job-detail {
  font-size: 120%;
}
.job-detail header,
.job-detail section {
  margin-bottom: 1em;
}
.job-detail h1 {
  color: #333;
  margin-bottom: 0;
}
.job-detail mark {
  background-color: lightyellow;
}
.job-detail .job-date {
  color: #777;
}
.job-detail .job-company {
  font-size: 1em;
}
.job-detail .panel-default,
.job-list .panel-default {
  border-top-width: 1px;
}
.job-detail .job-company-info {
  text-align: center;
  margin-top: 30px;
}
.job-detail .job-company-info img {
  min-width: 200px;
  max-width: 100%;
  max-height: 350px;
  padding: 10px 0;
}

.job-detail .job-meta-info {
  width: 35%;
  float: right;
  font-size: 85%;
}
.job-detail .job-meta-info li {
  padding-right: 0;
}
.job-detail .job-meta-info-value {
  width: 60%;
  border-left: 1px solid #eee;
  margin: -10px 0;
  padding: 10px;
  background-color: #f5f5f5;
}

.job-detail .pagination {
  margin-top: 0;
}
.job-detail .pagination>li>a:hover,
.job-detail .pagination>li>a:active {
  top: 0;
  border-bottom-width: 4px;
}
.job-detail .pagination>.disabled>a {
  cursor: text;
}

/**
 * Bootstrap overrides
 */
.navbar-default .navbar-nav>li>a.navbar-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}
.navbar-default .navbar-nav>li>a.navbar-btn:hover,
.navbar-default .navbar-nav>li>a.navbar-btn:active {
  top: 0;
  padding-top: 8px;
  margin-top: 6px;
  background-color: #158cba;
  border-color: #127ba3;
  border-bottom-width: 4px;
}
