
  <footer id="siteFooter">
    <div class="container">
      <p>Hosted and maintained by the <a href="http://techlahoma.org">Techlahoma Foundation</a> &mdash; a registered 501(c)3 non-profit. <a href="https://github.com/techlahoma/jobboard">Source Code on GitHub</a></p>
    </div>
  </footer>

  <!-- Include our bundled JS -->
  <script>window.REACT_INITIAL_PROPS = <%- react_props %>;</script>
  <% if (js && js.length > 0) { %>
    <!-- Added JS -->
    <% js.forEach(function (jsFile) {%><script src="<%= jsFile %>"></script>
    <% }); %>
  <% } %>
  <script src="/js/bundle.js"></script>
</body>
</html>
