
  <footer id="siteFooter">
    <div class="container">
      <p>&copy; Techlahoma Foundation</p>
    </div>
  </footer>

  <!-- Include our bundled JS -->
  <script>window.REACT_INITIAL_PROPS = <%- react_props %>;</script>
  <script src="/js/bundle.js"></script>
</body>
</html>
