<!DOCTYPE html>
<html lang="en">
<head>
  <title>Joblahoma</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <% if (css && css.length) { %>
    <!-- Added CSS -->
    <% for(var i=0; i < css.length; i++) {%><link rel="stylesheet" href="<%= css[i] %>" />
    <% } %>
  <% } %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header pull-left">
        <a href="/" target="_top" class="navbar-brand">Joblahoma</a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="/jobs/create">Post a Job</a>
        </li>
      </ul>
    </div>
  </div>

