<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- title || 'Home' %> - Techlahoma Jobs</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <% if (css && css.length) { %>
    <!-- Added CSS -->
    <% for(var i=0; i < css.length; i++) {%><link rel="stylesheet" href="<%= css[i] %>" />
    <% } %>
  <% } %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header pull-left">
        <a href="/" target="_top" class="navbar-brand">Techlahoma Jobs</a>
      </div>
      <ul class="nav navbar-nav pull-right">
      <% if (user) { %>
        <li><a href="/user/dashboard">User Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
        <li><a href="/jobs/create" class="btn btn-primary navbar-btn">Post a Job</a></li>
      </ul>
    </div>
  </div>

